{% load filter_tags %}
<ul class="product-o__action-list">
    <li>

        <!-- <a data-modal="modal" data-modal-id="#quick-look"
            data-tooltip="tooltip" data-placement="top"
            title="Quick View"><i class="fas fa-search-plus"></i></a> -->
        <a data-tooltip="tooltip" data-placement="top" title="Quick View" onclick="quick_view('{{site_info_data.shop_name}}','{{product.id}}')"><i class="fas fa-search-plus"></i></a>
    </li>
    <li>

        <!-- <a data-modal="modal" data-modal-id="#add-to-cart"
            data-tooltip="tooltip" data-placement="top"
            title="Add to Cart"><i class="fas fa-plus-circle"></i></a> -->
        <a data-tooltip="tooltip" data-placement="top" title="Add to Cart" onclick="add_cart('{{site_info_data.shop_name}}','{{product.id}}',1,'one')"><i class="fas fa-plus-circle"></i></a>
    </li>
    <label for="wishlist-dod-checkbox-{{product.id}}">
        <ul class='product-o__action-list'>
            <li>
                {% if user.is_authenticated %}
                    {%if user.id|filter_wishlist:product.id%}
                        <input type="checkbox" id="wishlist-dod-checkbox-{{product.id}}" hidden>
                        <a data-tooltip="tooltip" data-placement="top" title="Add to Wishlist" onclick="dod_wishlist_check__action('{{user.id}}','{{product.id}}')" class='wishlist-dod-enable__disable-{{product.id}}' ><i class="far fa-heart"></i></a>
                    {%else%}
                        <input type="checkbox" id="wishlist-dod-checkbox-{{product.id}}" hidden checked>
                        <a data-tooltip="tooltip" data-placement="top" title="Remove to Wishlist" onclick="dod_wishlist_check__action('{{user.id}}','{{product.id}}')" class='wishlist-dod-enable__disable-{{product.id}}' ><i class="fas fa-heart"></i></a>
                    {%endif%}
                {%else%}
                    <a data-tooltip="tooltip" data-placement="top" title="Add to Wishlist" onclick="window.location.href=('/accounts/login/')"><i class="far fa-heart"></i></a>
                {% endif %}
            </li>
        </ul>
    </label>

    <label for="product-dod-subscribe-checkbox-{{product.id}}">
        <ul class='product-o__action-list'>
            <li>
                {% if user.is_authenticated %}
                    {%if user.id|filter_subscriber:product.id%}
                        <input type="checkbox" id="product-dod-subscribe-checkbox-{{product.id}}" hidden>
                        <a data-tooltip="tooltip" data-placement="top" title="Email me When the price drops" onclick="dod_product_subscribe__action('{{user.id}}','{{product.id}}')" class='product-dod-subscribe-enable__disable-{{product.id}}' ><i class="far fa-envelope"></i></a>
                    {%else%}
                            <input type="checkbox" id="product-dod-subscribe-checkbox-{{product.id}}" hidden checked>
                            <a data-tooltip="tooltip" data-placement="top" title="Unsubscribe this product" onclick="dod_product_subscribe__action('{{user.id}}','{{product.id}}')" class='product-dod-subscribe-enable__disable-{{product.id}}' ><i class="fas fa-envelope"></i></a>
                    {%endif%}
                {%else%}
                    <a data-tooltip="tooltip" data-placement="top" title="Email me When the price drops" onclick="window.location.href=('/accounts/login/')"><i class="far fa-envelope"></i></a>
                {% endif %}
            </li>
        </ul>
    </label>
</ul>