<!-- MODAL TO CROP THE IMAGE -->
 <div class="modal fade" id="share-blog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Share On Social Media</h4>
          <a  class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </a>
        </div>
        <div class="modal-body">
            <div class="row d-flex flex-row justify-between" style="padding: 50px; font-size:xx-large;"> 
              <a class="s-fb--color" id="blog-media-fb"><i class="fab fa-facebook"></i></a></li>
              <a class="s-tw--color" id="blog-media-tw"><i class="fab fa-twitter"></i></a></li>
              <a class="s-insta--color" id="blog-media-insta"><i class="fab fa-instagram"></i></a></li>
              <a class="s-fb--color" id="blog-media-link"><i class="fab fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="modal-footer">
          <label for="blog-link">Link</label> 
          <input type="text" id="blog-link" class="w-100" placeholder="Social Media Link">
        </div>
      </div>
    </div>
</div>