<!-- MODAL TO CROP THE IMAGE -->
{% load filter_tags %}
<div class="modal fade" id="blog-message">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Response From Server</h4>
          <a  class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </a>
        </div>
        <div class="modal-body">
            <div id="response-message" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"></div>
        </div>
        <div class="col-12" style="padding:10px;">
          <div>
            <button style="padding:10px;" class="btn btn--e-brand-b-2 w-100" data-dismiss="modal" aria-label="Close">Okey !</button>
          </div>
        </div>
      </div>
    </div>
</div>