{% extends 'base.html' %} {% load static %} {% static 'images' as baseUrl%} {% block content %}
{%if user.is_authenticated%}
<body onload="addressBook()">
    
        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">
                {%with section1 as sec%} {%include 'sectionBase.html'%} {%endwith%}
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="dash">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-12">
                                    <!--====== Dashboard Features ======-->
                                    {% with bar as var %} {% include 'dashBase.html' %} {% endwith %}
                                    <!--====== End - Dashboard Features ======-->
                                </div>
                                <div class="col-lg-9 col-md-12">
                                    <form class="dash__address-make" id='default-shipping-address'>
                                        {%csrf_token%}
                                        <div class="dash__box dash__box--shadow dash__box--bg-white dash__box--radius u-s-m-b-30">
                                            <h2 class="dash__h2 u-s-p-xy-20"><i class="fas fa-address-book"></i> Make default Shipping Address</h2><div id="address-response-message" class="response-message"></div>
                                            <div class="dash__table-2-wrap gl-scroll">
                                                <table class="dash__table-2">
                                                    <thead>
                                                        <tr>
                                                            <th>Action</th>
                                                            <th>Full Name</th>
                                                            <th>Address</th>
                                                            <th>Region</th>
                                                            <th>Phone Number</th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {%if billing_info%}
                                                            {%for address in billing_info%}
                                                                {%if address.user == user%}
                                                                <tr>
                                                                    <td>
                                                                        <!--====== Radio Box ======-->
                                                                        <div class="radio-box">
                                                                            <input type="radio"  name="default-address" {%if address.is_shipping_details %} checked="" {%endif%} onclick="makeDefaultAddress('{{address.id}}','{{user.id}}')">
                                                                            <div class="radio-box__state radio-box__state--primary">
        
                                                                            <label class="radio-box__label" for="address-1"></label></div>
                                                                        </div>
                                                                        <!--====== End - Radio Box ======-->
                                                                    </td>
                                                                    <td>{{address.first_name|capfirst}} {{address.last_name|capfirst}}</td>
                                                                    <td>{{address.full_address|capfirst}}</td>
                                                                    <td>{{address.country|capfirst}} - {{address.state}}</td>
                                                                    <td>{{address.mobile}}</td>
                                                                    <td>
                                                                        {%if address.is_shipping_details %}
                                                                        <div class="gl-text">Default Shipping Address</div>
                                                                        {%endif%}
                                                                        {%if address.is_billing_details %}
                                                                        <div class="gl-text">Default Billing Address</div>
                                                                        {%endif%}
                                                                    </td>
                                                                </tr>
                                                                {%endif%}
                                                            {%endfor%}
                                                        {%endif%}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div>

                                            <button class="btn btn--e-brand-b-2" type="submit">SAVE</button>
                                            <button class="btn btn--e-brand-b-2" onclick="window.history.back()">Back</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
        <!--====== End - App Content ======-->


</body>
{%else%}
<script>
    window.location.href="/accounts/login"
</script>
{%endif%}
{%endblock%}