{% extends 'base.html' %} {% load static %} {% static 'images' as baseUrl%} {% block content %}
{%if user.is_authenticated%}
{%load widget_tweaks%}
<body>
    <script>
        window.addEventListener("load", myInit, true); function myInit(){
            myAc();
        }; 
    </script>
    <!--======Start: App Content ======-->
    <div class="app-content">
        <!--====== Section 1 ======-->
        <div class="u-s-p-y-60">
            <!--====== Section Content ======-->
            {%with section1 as sec%} {%include 'sectionBase.html'%} {%endwith%}
        </div>
        <!--====== End - Section 1 ======-->
        <!--====== Section 2 ======-->
        <div class="u-s-p-b-60">
            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="dash">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-12">
                                <!--====== Dashboard Features ======-->
                                {% with bar as var %} {% include 'dashBase.html' %} {% endwith %}
                                <!--====== End - Dashboard Features ======-->
                            </div>
                            <div class="col-lg-9 col-md-12">
                                <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white">
                                    <div class="dash__pad-2">
                                        <h1 class="dash__h1 u-s-m-b-14"><i class="fas fa-recycle"></i> CHANGE PASSWORD</h1>
                                        <span class="dash__text u-s-m-b-30">Always use strong password, Make strong password Like this - !^3*&$@#dAa19</span>
                                        
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <form class='dash-edit-p'>
                                                    {%csrf_token%}
                                                    <div class="gl-inline">
                                                        <div class="u-s-m-b-30">
                                                            <label for="old-password" class="gl-label"><i class="fas fa-unlock"></i> Old Password</label>
                                                            <input type="password" class="input-text input-text--primary-style" placeholder="Type Old password" id='old-password'>
                                                            <input type="hidden" id="loggedUser" value="{{user.username}}">
                                                            <div id="old-password-response" class="response-message" style='position:absolute;'></div>
                                                        </div>
                                                    </div>
                                                </form>

                                                <form id="changePass" class="dash-edit-p">
                                                    {%csrf_token%}
                                                    <div class="gl-inline">
                                                        <div class="u-s-m-b-30">
                                                            <label for="new-password1" class="gl-label"><i class="fas fa-lock"></i> New Password</label>
                                                            <div id="pass1"><input type="password" class="input-text input-text--primary-style" placeholder="Type new password" disabled></div>
                                                            <div id="new-password1-response" class="response-message" style="position: absolute;"></div>
                                                        </div>
                                                        <div class="u-s-m-b-30">
                                                            <label for="new-password2" class="gl-label"><i class="fas fa-lock"></i> Re-Type New Password</label>
                                                            <div id="pass2"><input type="password" class="input-text input-text--primary-style" placeholder="Type new password" disabled></div>
                                                            <div id="new-password2-response" class="response-message" style="position: absolute;"></div>
                                                        </div>
                                                    </div>

                                                    <div class="gl-inline">
                                                        <div class="u-s-m-b-30">
                                                            <button class="btn btn--e-brand-b-2" type="submit"><i class="fas fa-recycle"></i> Change password</button>
                                                        </div>
                                                        <div class="u-s-m-b-30">
                                                            <a class="dash__custom-link btn--e-transparent-brand-b-2" href="/dashboard/dashEditProfile/"><i class="fas fa-edit"></i> Edit Profile</a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section Content ======-->
        </div>
        <!--====== End - Section 2 ======-->
    </div>
    <!--======End: App Content ======-->
    <!--====== End - Section 2 ======-->
    </div>
    <!--======End: App Content ======-->

    <!-- ######### UPDATE MESSAGE HTML MODAL ########### -->
    <div id="ourModal"></div>
</body>

{%else%}
<script>
    window.location.href="/accounts/login"
</script>
{%endif%}
{%endblock%}