{%extends 'base.html'%}{%load static%}{% static 'images' as baseUrl%}{%block content%}
{%if user.is_authenticated%}
<body onload="myPaymentOption()">
<!--====== App Content ======-->
<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-60">
        <!--====== Section Content ======-->
        {%with section1 as sec%}
        {%include 'sectionBase.html'%}
        {%endwith%}
    </div>
    <!--====== End - Section 1 ======-->


    <!--====== Section 2 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="dash">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-12">

                            <!--====== Dashboard Features ======-->
                            {%with bas as var%}
                            {%include 'dashBase.html'%}
                            {%endwith%}
                            <!--====== End - Dashboard Features ======-->
                        </div>
                        <div class="col-lg-9 col-md-12">
                            <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white">
                                <div class="dash__pad-2">
                                    <h1 class="dash__h1 u-s-m-b-14">My Payment Options</h1>

                                    <span class="dash__text">No payment options</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 2 ======-->
</div>
<!--====== End - App Content ======-->
</body>
{%else%}
<script>
    window.location.href="/accounts/login"
</script>
{%endif%}
{%endblock%}