{%extends 'base.html'%}{%load static%}{% static 'images' as baseUrl%}{%block content%}
{%if user.is_authenticated%}
{%load filter_tags%}
<body onload="myOrder()">
<!--====== App Content ======-->
<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-60">

        <!--====== Section Content ======-->
        {%with section1 as sec%}
        {%include 'sectionBase.html'%}
        {%endwith%}
    </div>
    <!--====== End - Section 1 ======-->


    <!--====== Section 2 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="dash">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-12">

                            <!--====== Dashboard Features ======-->
                            {%with bas as var%}
                            {%include 'dashBase.html'%}
                            {%endwith%}
                            <!--====== End - Dashboard Features ======-->
                        </div>
                        <div class="col-lg-9 col-md-12">
                            <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                <div class="dash__pad-2">
                                    <h1 class="dash__h1 u-s-m-b-14">My Orders</h1>

                                    <span class="dash__text u-s-m-b-30">Here you can see all products that have been
                                        delivered.</span>
                                    <form class="m-order u-s-m-b-30">
                                    {%csrf_token%}

                                        <div class="m-order__select-wrapper">

                                            <label class="u-s-m-r-8" for="my-order-sort">Show:</label><select
                                                class="select-box select-box--primary-style" id="my-order-sort">
                                                <option value="5" selected>Last 5 orders</option>
                                                <option value="15">Last 15 days</option>
                                                <option value="30">Last 30 days</option>
                                                <option value="180">Last 6 months</option>
                                                <option value="all">All Orders</option>
                                            </select>
                                        </div>
                                    </form>
                                    <div class="m-order__list" id="my-orders">
                                        {%for order in user.id|get_my_order|slice:5%}
                                        <div class="m-order__get">
                                            <div class="manage-o__header u-s-m-b-30">
                                                <div class="dash-l-r">
                                                    <div>
                                                        <div class="manage-o__text-2 u-c-secondary">Order #{{order.id}}
                                                        </div>
                                                        <div class="manage-o__text u-c-silver">Placed on {{order.checkout_date_time}}</div>
                                                    </div>
                                                    <div>
                                                        <div class="dash__link dash__link--brand">
                                                            
                                                            <a href="/dashboard/dashManageOrder/{{order.order_id}}">MANAGE</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="manage-o__description">
                                                <a href="/dashboard/dashManageOrder/{{order.order_id}}">
                                                <div class="description__container">
                                                    <div class="description__img-wrap">

                                                        <img class="u-img-fluid"
                                                            src="{{MEDIA_URL}}{{order.product.image}}" alt="">
                                                    </div>
                                                    <div class="description-title">{{order.product.title}}</div>
                                                </div>
                                                </a>
                                                <div class="description__info-wrap">
                                                    <div>
                                                        {%if order.order_status == 'processing' %}
                                                        <span class="manage-o__badge badge--processing">Processing</span>
                                                        {%elif order.order_status == 'shipped'%}
                                                        <span class="manage-o__badge badge--shipped">Shipped</span>
                                                        {%elif order.order_status == 'delivered'%}
                                                        <span class="manage-o__badge badge--delivered">Delivered</span>
                                                        {%elif order.order_status == 'cancel'%}
                                                        <span class="manage-o__badge badge--delivered">Cancelled</span>
                                                        {%elif order.order_status == 'return'%}
                                                        <span class="manage-o__badge badge--delivered">Returned</span>
                                                        {%endif%}
                                                    </div>
                                                    <div>

                                                        <span class="manage-o__text-2 u-c-silver">Quantity:

                                                            <span class="manage-o__text-2 u-c-secondary">{{order.quantity}}</span></span>
                                                    </div>
                                                    <div>

                                                        <span class="manage-o__text-2 u-c-silver">Total:

                                                            <span
                                                                class="manage-o__text-2 u-c-secondary fas fa-rupee-sign">{{order.product.price|mul:order.quantity|add:order.tax|to_comma}}/-</span></span>
                                                    </div>
                                                    <div class="dash__link dash__link--brand">
                                                        <a href="/genrate-invoice/{{order.order_id}}" class='fas fa-download'> Get Invoice</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {%endfor%}

                                        {% comment %} <div class="m-order__get">
                                            <div class="manage-o__header u-s-m-b-30">
                                                <div class="dash-l-r">
                                                    <div>
                                                        <div class="manage-o__text-2 u-c-secondary">Order #305423126
                                                        </div>
                                                        <div class="manage-o__text u-c-silver">Placed on 26 Oct 2016
                                                            09:08:37</div>
                                                    </div>
                                                    <div>
                                                        <div class="dash__link dash__link--brand">

                                                            <a href="dash-manage-order.html">MANAGE</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="manage-o__description">
                                                <div class="description__container">
                                                    <div class="description__img-wrap">

                                                        <img class="u-img-fluid" src="images/product/women/product8.jpg"
                                                            alt="">
                                                    </div>
                                                    <div class="description-title">New Dress D Nice Elegant</div>
                                                </div>
                                                <div class="description__info-wrap">
                                                    <div>

                                                        <span class="manage-o__badge badge--shipped">Shipped</span>
                                                    </div>
                                                    <div>

                                                        <span class="manage-o__text-2 u-c-silver">Quantity:

                                                            <span class="manage-o__text-2 u-c-secondary">1</span></span>
                                                    </div>
                                                    <div>

                                                        <span class="manage-o__text-2 u-c-silver">Total:

                                                            <span
                                                                class="manage-o__text-2 u-c-secondary">$16.00</span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-order__get">
                                            <div class="manage-o__header u-s-m-b-30">
                                                <div class="dash-l-r">
                                                    <div>
                                                        <div class="manage-o__text-2 u-c-secondary">Order #305423126
                                                        </div>
                                                        <div class="manage-o__text u-c-silver">Placed on 26 Oct 2016
                                                            09:08:37</div>
                                                    </div>
                                                    <div>
                                                        <div class="dash__link dash__link--brand">

                                                            <a href="dash-manage-order.html">MANAGE</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="manage-o__description">
                                                <div class="description__container">
                                                    <div class="description__img-wrap">

                                                        <img class="u-img-fluid" src="images/product/men/product8.jpg"
                                                            alt="">
                                                    </div>
                                                    <div class="description-title">New Fashion D Nice Elegant</div>
                                                </div>
                                                <div class="description__info-wrap">
                                                    <div>
                                                        <span class="manage-o__badge badge--delivered">Delivered</span>
                                                    </div>
                                                    <div>

                                                        <span class="manage-o__text-2 u-c-silver">Quantity:

                                                            <span class="manage-o__text-2 u-c-secondary">1</span></span>
                                                    </div>
                                                    <div>

                                                        <span class="manage-o__text-2 u-c-silver">Total:

                                                            <span
                                                                class="manage-o__text-2 u-c-secondary">$16.00</span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 2 ======-->
</div>
<!--====== End - App Content ======-->
</body>
{%else%}
<script>
    window.location.href="/accounts/login"
</script>
{%endif%}
{%endblock%}