<!--====== Section Content ======-->
<div class="{ sec } some-content section__content">
    <div class="container">
        <div class="breadcrumb">
            <div class="breadcrumb__wrap">
                <ul class="breadcrumb__list">
                    <li class="has-separator">

                        <a href="/"><i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="is-marked">

                        <a href="/dashboard/dashboard"><i class="fas fa-user"></i> My Account</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>