{% extends 'base.html' %} {% load static %} {% static 'images' as baseUrl%} {% block content %}
{%if user.is_authenticated%}
{%load filter_tags%}
<body onload="clientList()">

    <!-- Start : Application Data  -->
    <!--====== App Content ======-->
    <div class="app-content">

        <!--====== Section 1 ======-->
        <div class="u-s-p-y-60">
            {%with section1 as sec%} {%include 'sell-section-base.html'%} {%endwith%}
        </div>
        <!--====== End - Section 1 ======-->


        <!--====== Section 2 ======-->
        <div class="u-s-p-b-60">

            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="dash">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-12">
                                <!-- Dashboard Feature -->
                                {% with bar as var %} {% include 'sell-base.html' %} {% endwith %}
                                <!--====== End - Dashboard Features ======-->
                            </div>
                            <div class="col-lg-9 col-md-12">
                                <div class="dash__box dash__box--shadow dash__box--bg-white dash__box--radius ">
                                    <h2 class="dash__h2 u-s-p-xy-20 fas fa-users"> BUYER OF YOUR PRODUCT : <span class='notification'>{{clients|length}}+</span>
                                    </h2>
                                {%if clients%}
                                    <div class="dash__table-wrap gl-scroll ">
                                        <table class="dash__table ">
                                            <thead>
                                                <tr>
                                                    <th>Client Name</th>
                                                    <th>Items Buy</th>
                                                    <th>Contact</th>
                                                    <th>Details</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {%for client in clients%}
                                                <tr>
                                                    <td>{{client.customer_user.first_name|capfirst}} {{client.customer_user.last_name|capfirst}}</td>
                                                    <td>
                                                        <div class="dash__table-total ">
                                                            <span>{{client.customer_user.id|get_total_purchease:user.id}}</span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        {% comment %} <a href="tel:{{client.customer_user.phone}}" data-tooltip="tootltip" data-placement="left" title data-original-title="Phone"><i class='fas fa-phone-volume'></i></a> {% endcomment %}
                                                        <a href="mailto:{{client.customer_user.email}}" data-tooltip="tootltip" data-placement="left" title data-original-title="Mail"><i class='fas fa-envelope'></i></a>
                                                    </td>
                                                    <td>
                                                        <div class="dash__link dash__link--brand ">
                                                            <a onclick="client_details({{client.customer_user.id}})" class="fas fa-eye"> DETAILS</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {%endfor%}
                                            </tbody>
                                        </table>
                                    </div>
                                {%else%}
                                <div style="padding-left:20px;padding-bottom:20px;font-size:13px;">No Client Yet.</div>
                                {%endif%}
                                </div>
                            <div class="item-loader w-100" style="display: none;"><img class="ml-auto mr-auto" width='100px;' src="{%static 'images/loader/loading_with_setting.gif'%}" alt=""></div>
                            {% comment %} THIS DATA CAME AFTER CLICK VIEW BUTTON {% endcomment %}
                            <br><br>
                            <div id="client_details"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section Content ======-->
        </div>
        <!--====== End - Section 2 ======-->
    </div>
    <!--====== End - App Content ======-->

    <!-- End : Application Data  -->
</body>
{%else%}
<script>
    window.location.href="/accounts/login"
</script>
{%endif%}
{%endblock%}