{% extends 'base.html' %} {% load static %} {% static 'images' as baseUrl%} {% block content %}
{%if user.is_authenticated and products%}
<body>
    <script>
        window.addEventListener("load", myInit, true); function myInit(){
            selledProduct()
            set_logged_username_id('{{user.id}}',"{{user.username}}");
        };
    </script>
    <!-- Start : Application Data  -->
    <!--====== App Content ======-->
    <div class="app-content">

        <!--====== Section 1 ======-->
        <div class="u-s-p-y-60">
            {%with section1 as sec%} {%include 'sell-section-base.html'%} {%endwith%}
        </div>
        <!--====== End - Section 1 ======-->


        <!--====== Section 2 ======-->
        <div class="u-s-p-b-60">

            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="dash">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-12">
                                <!-- Dashboard Feature -->
                                {% with bar as var %} {% include 'sell-base.html' %} {% endwith %}
                                <!--====== End - Dashboard Features ======-->
                            </div>
                            <div class="col-lg-9 col-md-12">
                                <div class="dash__box dash__box--shadow dash__box--bg-white dash__box--radius ">
                                    <div class="row" style=" padding-left:30px; padding-right:30px;">
                                        <div class="col-md-6">
                                            <h2 class="dash__h2 u-s-p-xy-20 "><i class="fas fa-clock"></i> RECENT UPLOADED PRODUCT</h2>
                                        </div>
                                        <div class="col-md-6" style=" padding-top:8px;">
                                             <!--====== Search Form ======-->
                                            <form class="product-form" style="width:100%;">
                                                {% csrf_token %}
                                                <label for="product-search"></label>
                                                <input class="input-text input-text--border-radius input-text--style-1" type="text" id="product-search" placeholder="Search Product By...">
                                                <button class="btn btn--icon product-search-button" type="button">
                                                    <select id="filterBy" style="border: none; background:none; font-size:small;">
                                                        <option value="id" selected>#BY_ID</option>
                                                        <option value="name">#BY_Name</option>
                                                        <option value="add_date_time">#BY_Date</option>
                                                        <option value="price">#BY_Price</option>
                                                        <option value="color_code">#Color Code</option>
                                                        <option value="size">#BY_Size</option>
                                                        <option value="weight">#BY_Weight</option>
                                                    </select>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="dash__table-wrap gl-scroll " style="height: 500px;">
                                        <table class="dash__table" id='product-table'>
                                            <thead>
                                                <tr>
                                                    <th><span>#ID</span></th>
                                                    <th><span>DATE</span></th>
                                                    <th><span>ITEMS</span></th>
                                                    <th><span>AVAILABLE</span></th>
                                                </tr>
                                            </thead>
                                            {%if products%}
                                            <tbody>
                                                {%for product in products%}
                                                    {%if product.customer_user.id == user.id%}
                                                    <tr id="{{product.id}}">
                                                        <td>#{{product.id}}</td>
                                                        <td>{{product.add_date_time|date:'d M Y'}}</td>
                                                        <td style="display:flex; justify-content:space-around;">
                                                            <!-- <div class="das__table-img-wrap" style="background-color: rebeccapurple;"> -->
                                                                <img src="{{MEDIA_URL}}{{product.image}}" alt="" width="40px">
                                                            <!-- </div> -->
                                                        </td>
                                                        <td>
                                                            <div class="dash__table-total">
                                                                <span>{{product.available_product}} Stock</span>
                                                                <div class="dash__link dash__link--brand">
                                                                    <a  style="margin:0px 5px 0px 5px;" href="/selling_product/productEdit/{{product.id}}"><i class="fas fa-edit"></i></a>
                                                                    <a  style="margin:0px 5px 0px 5px;color: red;" onclick="delete_product('{{product.id}}')"><i class="fas fa-trash"></i></a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {%endif%}
                                                {%endfor%}
                                                
                                                {%if products%}
                                                <tr><td>No Data Available</td></tr>
                                                {%endif%}
                                            </tbody>
                                            {%else%}
                                            <tbody><tr><td>No Data Available</td></tr></tbody>
                                            {%endif%}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section Content ======-->
        </div>
        <!--====== End - Section 2 ======-->
    </div>
    <!--====== End - App Content ======-->

    <!-- End : Application Data  -->
</body>
{%else%}
<script>
    window.location.href="/accounts/login"
</script>
{%endif%}
{%endblock%}