{%extends 'base.html'%}{% load static %}{% static 'images' as baseUrl%}{% block content%}
{%if user.is_authenticated == False%}
<!--====== App Content ======-->
<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="breadcrumb">
                    <div class="breadcrumb__wrap">
                        <ul class="breadcrumb__list">
                            <li class="has-separator">

                                <a href="/"><i class="fas fa-home"></i> Home</a>
                            </li>
                            <li class="is-marked">

                                <a href="">Signin</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section 1 ======-->


    <!--====== Section 2 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Intro ======-->
        <div class="section__intro u-s-m-b-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section__text-wrap">
                            <h1 class="section__heading u-c-secondary">ALREADY REGISTERED?</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Intro ======-->


        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="row row--center">
                    <div class="col-lg-6 col-md-8 u-s-m-b-30">
                        <div class="l-f-o">
                            <div class="l-f-o__pad-box">
                                <h1 class="gl-h1">I'M NEW CUSTOMER</h1>

                                <span class="gl-text u-s-m-b-30">By creating an account with our store, you will
                                    be able to move through the checkout process faster, store shipping
                                    addresses, view and track your orders in your account and more.</span>
                                <div class="u-s-m-b-15">

                                    <a class="l-f-o__create-link btn--e-transparent-brand-b-2"
                                        href="/accounts/register">CREATE
                                        AN ACCOUNT</a>
                                </div>
                                <!-- ######################## Image Previou ########################### -->
                                <div class="row" style=" display:flex;flex-direction:row;justify-content:center;">
                                    <div>
                                      <div class="image_area" id="reg_profile">
                                          <label for="uploaded_image">
                                            <img src="{%static 'images/user-icon.png'%}" id="uploaded_image" class="img-responsive img-circle" />
                                            <!-- <input type="file" name="image" class="image" id="upload_image" style="display:none" /> -->
                                          </label>
                                      </div>
                                  </div>
                                </div>
                                <h5 style="text-align:center;">LOGIN</h5>

                                <form class="l-f-o__form" id="login-form">
                                    {% csrf_token %}
                                    <!-- <div class="gl-s-api">
                                        <div class="u-s-m-b-15">

                                            <button class="gl-s-api__btn gl-s-api__btn--fb" type="button"><i
                                                    class="fab fa-facebook-f"></i>

                                                <span>Signin with Facebook</span></button>
                                        </div>
                                        <div class="u-s-m-b-15">

                                            <button class="gl-s-api__btn gl-s-api__btn--gplus" type="button"><i
                                                    class="fab fa-google"></i>

                                                <span>Signin with Google</span></button>
                                        </div>
                                    </div> -->
                                    <div class="u-s-m-b-30">

                                        <label class="gl-label" for="login-id"><i class="fas fa-user"></i> USERNAME *</label>

                                        <input class="input-text input-text--primary-style" type="text" id="login-id"
                                            placeholder="Enter username" name="login-id">
                                        <div id="loginid-validate-response"></div>
                                        
                                    </div>
                                    <div class="u-s-m-b-30">

                                        <label class="gl-label" for="login-password"><i class="fas fa-lock"></i> PASSWORD *</label>
                                        <input class="input-text input-text--primary-style" type="password"
                                            id="login-password" name="login-pass" placeholder="Enter Password">
                                        <div id="password-validate-response"></div>

                                    </div>
                                    <div class="u-s-m-b-30">
                                        <!--====== Check Box ======-->
                                        <div class="check-box">

                                            <input type="checkbox" name="remember-name" id="remember-me">
                                            <div class="check-box__state check-box__state--primary">

                                                <label class="check-box__label" for="remember-me">Remember
                                                    Me</label>
                                            </div>
                                        </div>
                                        <!--====== End - Check Box ======-->
                                    </div>
                                    <!-- Login Button -->
                                    <div class="gl-inline">
                                        <div class="u-s-m-b-30">
                                            
                                            <button type="submit" class="btn btn--e-transparent-brand-b-2"
                                            id="login-me"><i class="fas fa-unlock-alt"></i> LOGIN</button>
                                        </div>
                                        <div class="u-s-m-b-30">
                                            
                                            <a class="gl-link" href="/accounts/lostPassword/">Lost Your Password?</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 2 ======-->
    
    <!-- POP UP MESSAGE DATA CONTAINER -->
    <div id="pop-up-response"></div>
</div>
<!--====== End - App Content ======-->
{%else%}
<script>
    window.location.href="/"
</script>
{%endif%}
{% endblock %}